#body{
  color: black;
  margin: 0;
  size: 120%;
  background-color: #FAF9F9;
  font-family: 'Roboto', sans-serif;
  background-image: url("../images/background33.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.navcontainer{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FAF9F9;
  z-index: 1;
  border-bottom: 1px solid #bbb;
}
.navitem{
  float: right;
}
#totop a{
  position: absolute;
  top: -80px;
  left: 0px;
}
.navitem a{
  display: block;
  text-align: center;
  text-transform: uppercase;
  line-height: 200%;
  font-size: 16px;
  padding: 14px 14px;
  text-decoration: none;
  transition: all .15s ease-in-out;
}
#totop a:focus{
  position: absolute;
  top: 0px;
}
.navitem a:visited{
  color: #0035b3;
}
.navitem a:link, a:visited{
  color: #0035b3;
}
.navitem a:hover{
  color: black;
  transform: scale(1.02);
}
.navitem .currentlink {
  text-decoration: underline;
  border-style: solid;
}
.experiencecontainer{
  display: flex;
  list-style: none;
  justify-content: space-around;
}
.experiencecontainer .experienceitem{
  text-align: center;
  font-weight: bold;
  color: #0035b3;
}
.experiencecontainer .experienceitem li{
  list-style-type: square;
  text-align: left;
  font-weight: normal;
  color: black;
}
.projectgallery{
  margin: 5%;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 3 px solid black;
  display: flex;
  justify-content: space-around;
}
.galleryitem{
 width: relative;
 height: relative;
}
.projectgallery img{
  width: 25%;
  height: 25%;
}
#headshot{
  width: relative;
  height: relative;
}
header img{
  width: 35%;
  height: 35%;
}
